<div class="container-fluid" style="background-color: #385b66">
  <div class="row">
    <div class="col">
      <img src="assets/logo.png" width="100%" />
    </div>
    <div class="col">
      <div class="d-flex align-items-center justify-content-center" style="min-height: 100vh; display: flex; align-items: center">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title text-center">La solución a todos tus problemas académicos.</h4>
            <p clas="card-text">Si se acerca un parcial y te sientes desubicado, un taller te está sacando de quicio, o alguna materia se te está complicando, estás en el sitio indicado.</p>
            <app-estudiante-login></app-estudiante-login>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
